*.hdf5
*.mat
*.png
*.nii
*.h5
*.ini
*.npy
*.json
*.pem
*.gif
*.txt
*.pyc
*.aux
*.idx
*.log
*.toc
*.out
*.synctex.gz
*.ilg
*.ind
ItATMIS2/__pycache__/ItATMISapp.cpython-35.pyc
LowDosePET/lowdose_60s/volunteer004_lowdose.nii.gz
LowDosePET/fulldose/volunteer002_fulldose.nii.gz
LowDosePET/fulldose/volunteer003_fulldose.nii.gz
LowDosePET/fulldose/volunteer004_fulldose.nii.gz
LowDosePET/fulldose/volunteer005_fulldose.nii.gz
LowDosePET/fulldose/volunteer006_fulldose.nii.gz
LowDosePET/fulldose/volunteer007_fulldose.nii.gz
LowDosePET/fulldose/volunteer008_fulldose.nii.gz
LowDosePET/fulldose/volunteer009_fulldose.nii.gz
LowDosePET/fulldose/volunteer010_fulldose.nii.gz
LowDosePET/fulldose/volunteer011_fulldose.nii.gz
LowDosePET/fulldose/volunteer012_fulldose.nii.gz
LowDosePET/fulldose/volunteer013_fulldose.nii.gz
LowDosePET/fulldose/volunteer014_fulldose.nii.gz
LowDosePET/fulldose/volunteer015_fulldose.nii.gz
LowDosePET/fulldose/volunteer016_fulldose.nii.gz
LowDosePET/fulldose/volunteer017_fulldose.nii.gz
LowDosePET/lowdose_30s/volunteer002_lowdose.nii.gz
LowDosePET/lowdose_30s/volunteer003_lowdose.nii.gz
LowDosePET/lowdose_30s/volunteer004_lowdose.nii.gz
LowDosePET/lowdose_30s/volunteer005_lowdose.nii.gz
LowDosePET/lowdose_30s/volunteer006_lowdose.nii.gz
LowDosePET/lowdose_30s/volunteer007_lowdose.nii.gz
LowDosePET/lowdose_30s/volunteer008_lowdose.nii.gz
LowDosePET/lowdose_30s/volunteer009_lowdose.nii.gz
LowDosePET/lowdose_30s/volunteer010_lowdose.nii.gz
LowDosePET/lowdose_30s/volunteer011_lowdose.nii.gz
LowDosePET/lowdose_30s/volunteer012_lowdose.nii.gz
LowDosePET/lowdose_30s/volunteer013_lowdose.nii.gz
LowDosePET/lowdose_30s/volunteer014_lowdose.nii.gz
LowDosePET/lowdose_30s/volunteer015_lowdose.nii.gz
LowDosePET/lowdose_30s/volunteer016_lowdose.nii.gz
LowDosePET/lowdose_30s/volunteer017_lowdose.nii.gz
LowDosePET/lowdose_60s/volunteer002_lowdose.nii.gz
LowDosePET/lowdose_60s/volunteer003_lowdose.nii.gz
LowDosePET/lowdose_60s/volunteer005_lowdose.nii.gz
LowDosePET/lowdose_60s/volunteer006_lowdose.nii.gz
LowDosePET/lowdose_60s/volunteer007_lowdose.nii.gz
LowDosePET/lowdose_60s/volunteer008_lowdose.nii.gz
LowDosePET/lowdose_60s/volunteer009_lowdose.nii.gz
LowDosePET/lowdose_60s/volunteer010_lowdose.nii.gz
LowDosePET/lowdose_60s/volunteer011_lowdose.nii.gz
LowDosePET/lowdose_60s/volunteer012_lowdose.nii.gz
LowDosePET/lowdose_60s/volunteer013_lowdose.nii.gz
LowDosePET/lowdose_60s/volunteer014_lowdose.nii.gz
LowDosePET/lowdose_60s/volunteer015_lowdose.nii.gz
LowDosePET/lowdose_60s/volunteer016_lowdose.nii.gz
LowDosePET/lowdose_60s/volunteer017_lowdose.nii.gz
.ipynb_checkpoints/DeepMuMap_CrossValidation-checkpoint.ipynb
mnist/train-labels-idx1-ubyte.gz
BootCamp/.ipynb_checkpoints/SegmentationBootcamp-MasterCopy-checkpoint.ipynb
BootCamp/.ipynb_checkpoints/SegmentationBootcamp-StudentCopy-checkpoint.ipynb
BootCamp/.ipynb_checkpoints/SegmentationBootcamp-checkpoint.ipynb
MNIST_data/t10k-images-idx3-ubyte.gz
MNIST_data/t10k-labels-idx1-ubyte.gz
MNIST_data/train-images-idx3-ubyte.gz
MNIST_data/train-labels-idx1-ubyte.gz
PETrecon/.ipynb_checkpoints/DeepMuMap_CrossValidation-checkpoint.ipynb
PETrecon/.ipynb_checkpoints/Evaluate_Crossval-checkpoint.ipynb
TB_Graph/events.out.tfevents.1504730597.r-aliengpu
TB_Graph/events.out.tfevents.1504732010.r-aliengpu
TB_Graph/events.out.tfevents.1504732420.r-aliengpu
TB_Graph/events.out.tfevents.1504732639.r-aliengpu
TB_Graph/events.out.tfevents.1504732998.r-aliengpu
TB_Graph/events.out.tfevents.1506607904.r-aliengpu
TB_Graph/events.out.tfevents.1507237193.r-aliengpu
TB_Graph/events.out.tfevents.1507237738.r-aliengpu
mnist/t10k-images-idx3-ubyte.gz
mnist/t10k-labels-idx1-ubyte.gz
mnist/train-images-idx3-ubyte.gz
