#
### requirements for ItATMIS 2.0 app ###

## Requiresments that are not version-specific ##
numpy
sys
os
pyqt5
pyqtgraph
gputil
configparser
nibabel
natsort
keras
tensorflow
tensorflow-gpu
h5py
time
scipy
contextlib
json

## Requirements with version specifiers ##
