#
### requirements for ItATMIS 2.0 app ###

## Requiresments that are not version-specific ##
numpy
pyqt5
pyqtgraph
gputil
configparser
nibabel
natsort
keras==2.2.4
tensorflow-gpu==1.14    # install this with conda
h5py
scipy
## Requirements with version specifiers ##
