#
### requirements for ItATMIS 2.0 app ###

## Requiresments that are not version-specific ##
numpy
sys
os
pyqt5
pyqtgraph
gputil
configparser
nibabel
natsort
keras
tensorflow
h5py
time
scipy
contextlib

## Requirements with version specifiers ##
